.header {
	position: sticky;
	top: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	background-color: $orange;
	padding: 0.5rem 1rem;
	gap: 1rem;

	* {
		margin: 0;
	}

	.title {
		font-weight: 400;
	}

	.nav {
		display: flex;
		gap: 1rem;
		margin-left: auto;

		a {
			color: $white;
			text-decoration: none;

			&:hover,
			&:focus-visible {
				text-decoration: underline;
			}
		}
	}

	.btn {
		--bs-btn-border-color: #{transparentize($black, 0.9)};
		--bs-btn-border-width: 1px;
		--bs-btn-color: #{transparentize($black, 0.5)};
		--bs-btn-hover-bg: #{transparentize($white, 0.9)};
		--bs-btn-hover-border-color: var(--bs-btn-border-color);
	}
}
