.header {
	background-color: $orange;
	padding: 0.5rem 1rem;
	gap: 1rem;

	* {
		margin: 0;
	}

	.title {
		font-weight: 400;
	}

	.nav {
		display: flex;
		gap: 1rem;
		margin-left: auto;

		a {
			color: $white;
			text-decoration: underline;
			text-decoration-color: transparent;
			transition: text-decoration-color 0.2s ease;

			&:hover,
			&:focus-visible {
				text-decoration-color: $white;
			}
		}
	}
}
