@mixin character-styles($char, $text-colour) {
	&:hover {
		&.nav-characters li > span {
			background: $char !important;
		}
	}
	.secondarynav {
		background-color: $char;
		.dropdown-menu {
			background-color: $char;
		}
		.navbar-brand {
			color: $text-colour !important;
			.pathfill {
				fill: $text-colour;
			}
		}
	}
	&#characterModal {
		.secondarynav-container {
			background-color: darken($char, 10%);
		}
		.secondarynav {
			background-color: darken($char, 10%);
			border-bottom: 1px solid darken($char, 5%);
			.btn-secondary {
				color: $text-colour;
				font-weight: 700;
				transition: none;
				@if $text-colour == $text-light {
					background-color: darken($char, 20%);
					border: 1px solid darken($char, 30%);
					&.active {
						background-color: darken($char, 25%) !important;
					}
					&:hover,
					&:active {
						background-color: darken($char, 30%) !important;
					}
				} @else {
					background-color: lighten($char, 5%);
					border: 1px solid darken($char, 20%);
					&.active {
						background-color: lighten($char, 20%) !important;
					}
					&:hover,
					&:active {
						background-color: lighten($char, 30%) !important;
					}
				}
			}
		}
		.characterOverview {
			li {
				color: $text-colour;
			}
		}
	}
	.btn,
	.dropdown-item,
	.btn.btn-secondary,
	#secondarynav-dropdown {
		color: $text-colour;
		background-color: darken($char, 10%);
		border-color: $char;
		&:hover,
		&.active,
		&:active {
			background-color: darken($char, 20%);
			box-shadow: none !important;
			border-color: darken($char, 20%);
		}
	}
	.btn {
		color: $text-light;
	}
	&.card-deck {
		&.new {
			.moveBtn {
				&:after {
					content: "New!";
					position: absolute;
					background: #fff;
					padding: 2px;
					font-size: 10px;
					font-weight: 700;
					border-radius: 5px;
					border: 1px solid $char;
					box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
					color: darken($char, 20%);
					top: -17px;
					right: -7px;
					z-index: 5;
					// opacity:0.7;
					transition: opacity 0.2s ease;
				}
				// &:hover{
				//     &:after{
				//         opacity:1;
				//     }
				// }
			}
		}
		.card-image-top {
			background-color: $char;
			color: $text-colour;
		}
		.card-body {
			.btn {
				background-color: darken($char, 10%);
				border-color: transparent !important;
			}
		}
	}
	&.nav-characters:before {
		background: $char;
	}
	li > span {
		background: transparentize($char, 0.2) !important;
		color: $text-colour !important;
	}
	.nav-moves a {
		position: relative;
		&:before {
			background: transparentize($char, 0.5) !important;
		}
	}
	#moveName {
		color: $text-colour;
	}
	.dropdown-menu,
	#sort,
	.stickyName {
		background-color: $char;
	}
	#character-underlay {
		background-color: $char !important;
	}
	#icon-next,
	#icon-prev {
		path.pathfill {
			fill: $text-colour;
		}
	}
	.legend-keys {
		svg {
			fill: $text-colour;
		}
		.legend-keys--text {
			color: $text-colour;
		}
		.legend-keys--shift,
		.legend-keys--escape {
			background: $text-colour;
			color: $char;
		}
	}
}

@mixin new() {
	content: "nw!";
	position: absolute;
	background: #e0703b;
	width: 30px;
	height: 30px;
}
