$primary-colour:#ffd54f;
$secondary-colour:#e6bd3b;

$text-light:#FFF;
$text-dark:#431c0b;

$button-primary:#bba86c;
$button-primary-hover:darken($button-primary, 10%);
$button-primary-active:#9c840e;

$bowser:#32765c;
$bowser-button-homepage:darken($bowser, 10%);
$bowser-button-primary:#ff7043;
$bowser-button-primary-hover:darken($bowser-button-primary, 10%);
$bowser-button-primary-active:#d82800;

$donkey-kong:#feda00;
$donkey-kong-button-homepage:darken($donkey-kong, 10%);
$donkey-kong-button-primary:#9c840e;
$donkey-kong-button-primary-hover:darken($donkey-kong-button-primary, 10%);
$donkey-kong-button-primary-active:#9c840e;

$gnw:#8a8983;
$gnw-button-homepage:darken($gnw, 10%);
$gnw-button-primary:#ff7043;
$gnw-button-primary-hover:darken($gnw-button-primary, 10%);
$gnw-button-primary-active:#d82800;

$robin:#ce82de;
$robin-button-homepage:darken($robin, 10%);
$robin-button-primary:#ce82de;
$robin-button-primary-hover:darken($robin-button-primary, 10%);
$robin-button-primary-active:#d82800;