$bayonetta: #a79fe5;
$bowser: #32765c;
$bowser-jr: #cfce37;
$captain-falcon: #9088e2;
$charizard: #f66624;
$cloud: #009684;
$cloud-limit: #009684;
$corrin: #733131;
$dark-pit: #af6ce9;
$diddy-kong: #932324;
$donkey-kong: #feda00;
$dr-mario: #d72935;
$duck-hunt: #935a33;
$falco: #52b1e3;
$fox: #036ac9;
$ganondorf: #7d7898;
$game-and-watch: #8a8983;
$greninja: #5073a9;
$ike: #c44737;
$jigglypuff: #f283ea;
$king-dedede: #ffe966;
$kirby: #e5939a;
$link: #bed163;
$little-mac: #39775a;
$lucario: #aee4ff;
$lucas: #f05f1b;
$lucina: #74a7ca;
$luigi: #41a732;
$mario: #aa2c30;
$marth: #3eaacc;
$mega-man: #58a0bf;
$meta-knight: #2d3d7a;
$mewtwo: #8054c3;
$mii-brawler: #cd7e2c;
$mii-swordfighter: #cd7e2c;
$mii-gunner: #cd7e2c;
$ness: #ab2d30;
$olimar: #c3f1a9;
$pacman: #dea03a;
$palutena: #4ce2eb;
$peach: #fec6f3;
$pikachu: #d8a50a;
$pit: #70b5d7;
$rob: #b2b9bf;
$robin: #ce82de;
$rosalina-and-luma: #4ce2eb;
$roy: #5cb94d;
$ryu: #e04447;
$samus: #333f58;
$sheik: #786cd7;
$shulk: #e55b79;
$shulk-buster: #e55b79;
$shulk-jump: #e55b79;
$shulk-shield: #e55b79;
$shulk-smash: #e55b79;
$sonic: #579df2;
$toon-link: #98d44b;
$villager: #3bac6c;
$wario: #fecb4c;
$wii-fit-trainer: #86d776;
$yoshi: #4d9540;
$zelda: #aa74ba;
$zero-suit-samus: #005aaa;

.character-box,
#characterModal,
.card-deck {
	&.bayonetta {
		.characterImageContainer {
			background-color: $bayonetta;
		}
		.characterImage {
			background-image: url("../images/characters/webp/bayonetta.webp");
		}
	}
	&.bowser {
		.characterImageContainer {
			background-color: $bowser;
		}
		.characterImage {
			background-image: url("../images/characters/webp/bowser.webp");
		}
	}
	&.bowser-jr {
		.characterImageContainer {
			background-color: $bowser-jr;
		}
		.characterImage {
			background-image: url("../images/characters/webp/bowserjr.webp");
		}
	}
	&.captain-falcon {
		.characterImageContainer {
			background-color: $captain-falcon;
		}
		.characterImage {
			background-image: url("../images/characters/webp/cfalcon.webp");
		}
	}
	&.charizard {
		.characterImageContainer {
			background-color: $charizard;
		}
		.characterImage {
			background-image: url("../images/characters/webp/charizard.webp");
		}
	}
	&.cloud {
		.characterImageContainer {
			background-color: $cloud;
		}
		.characterImage {
			background-image: url("../images/characters/webp/cloud.webp");
		}
	}
	&.cloud-limit {
		.characterImageContainer {
			background-color: $cloud-limit;
		}
		.characterImage {
			background-image: url("../images/characters/webp/cloudlimit.webp");
		}
	}
	&.corrin {
		.characterImageContainer {
			background-color: $corrin;
		}
		.characterImage {
			background-image: url("../images/characters/webp/corrin.webp");
		}
	}
	&.dark-pit {
		.characterImageContainer {
			background-color: $dark-pit;
		}
		.characterImage {
			background-image: url("../images/characters/webp/darkpit.webp");
		}
	}
	&.diddy-kong {
		.characterImageContainer {
			background-color: $diddy-kong;
		}
		.characterImage {
			background-image: url("../images/characters/webp/diddykong.webp");
		}
	}
	&.donkey-kong {
		.characterImageContainer {
			background-color: $donkey-kong;
		}
		.characterImage {
			background-image: url("../images/characters/webp/donkeykong.webp");
		}
	}
	&.dr-mario {
		.characterImageContainer {
			background-color: $dr-mario;
		}
		.characterImage {
			background-image: url("../images/characters/webp/drmario.webp");
		}
	}
	&.duck-hunt {
		.characterImageContainer {
			background-color: $duck-hunt;
		}
		.characterImage {
			background-image: url("../images/characters/webp/duckhunt.webp");
		}
	}
	&.falco {
		.characterImageContainer {
			background-color: $falco;
		}
		.characterImage {
			background-image: url("../images/characters/webp/falco.webp");
		}
	}
	&.fox {
		.characterImageContainer {
			background-color: $fox;
		}
		.characterImage {
			background-image: url("../images/characters/webp/fox.webp");
		}
	}
	&.ganondorf {
		.characterImageContainer {
			background-color: $ganondorf;
		}
		.characterImage {
			background-image: url("../images/characters/webp/ganondorf.webp");
		}
	}
	&.game-and-watch {
		.characterImageContainer {
			background-color: $game-and-watch;
		}
		.characterImage {
			background-image: url("../images/characters/webp/gameandwatch.webp");
		}
	}
	&.greninja {
		.characterImageContainer {
			background-color: $greninja;
		}
		.characterImage {
			background-image: url("../images/characters/webp/greninja.webp");
		}
	}
	&.ike {
		.characterImageContainer {
			background-color: $ike;
		}
		.characterImage {
			background-image: url("../images/characters/webp/ike.webp");
		}
	}
	&.jigglypuff {
		.characterImageContainer {
			background-color: $jigglypuff;
		}
		.characterImage {
			background-image: url("../images/characters/webp/jigglypuff.webp");
		}
	}
	&.king-dedede {
		.characterImageContainer {
			background-color: $king-dedede;
		}
		.characterImage {
			background-image: url("../images/characters/webp/kingdedede.webp");
		}
	}
	&.kirby {
		.characterImageContainer {
			background-color: $kirby;
		}
		.characterImage {
			background-image: url("../images/characters/webp/kirby.webp");
		}
	}
	&.link {
		.characterImageContainer {
			background-color: $link;
		}
		.characterImage {
			background-image: url("../images/characters/webp/link.webp");
		}
	}
	&.little-mac {
		.characterImageContainer {
			background-color: $little-mac;
		}
		.characterImage {
			background-image: url("../images/characters/webp/littlemac.webp");
		}
	}
	&.lucario {
		.characterImageContainer {
			background-color: $lucario;
		}
		.characterImage {
			background-image: url("../images/characters/webp/lucario.webp");
		}
	}
	&.lucas {
		.characterImageContainer {
			background-color: $lucas;
		}
		.characterImage {
			background-image: url("../images/characters/webp/lucas.webp");
		}
	}
	&.lucina {
		.characterImageContainer {
			background-color: $lucina;
		}
		.characterImage {
			background-image: url("../images/characters/webp/lucina.webp");
		}
	}
	&.luigi {
		.characterImageContainer {
			background-color: $luigi;
		}
		.characterImage {
			background-image: url("../images/characters/webp/luigi.webp");
		}
	}
	&.mario {
		.characterImageContainer {
			background-color: $mario;
		}
		.characterImage {
			background-image: url("../images/characters/webp/mario.webp");
		}
	}
	&.marth {
		.characterImageContainer {
			background-color: $marth;
		}
		.characterImage {
			background-image: url("../images/characters/webp/marth.webp");
		}
	}
	&.mega-man {
		.characterImageContainer {
			background-color: $mega-man;
		}
		.characterImage {
			background-image: url("../images/characters/webp/megaman.webp");
		}
	}
	&.meta-knight {
		.characterImageContainer {
			background-color: $meta-knight;
		}
		.characterImage {
			background-image: url("../images/characters/webp/metaknight.webp");
		}
	}
	&.mewtwo {
		.characterImageContainer {
			background-color: $mewtwo;
		}
		.characterImage {
			background-image: url("../images/characters/webp/mewtwo.webp");
		}
	}
	&.mii-brawler {
		.characterImageContainer {
			background-color: $mii-brawler;
		}
		.characterImage {
			background-image: url("../images/characters/webp/miibrawler.webp");
		}
	}
	&.mii-swordfighter {
		.characterImageContainer {
			background-color: $mii-swordfighter;
		}
		.characterImage {
			background-image: url("../images/characters/webp/miiswordfighter.webp");
		}
	}
	&.mii-gunner {
		.characterImageContainer {
			background-color: $mii-gunner;
		}
		.characterImage {
			background-image: url("../images/characters/webp/miigunner.webp");
		}
	}
	&.ness {
		.characterImageContainer {
			background-color: $ness;
		}
		.characterImage {
			background-image: url("../images/characters/webp/ness.webp");
		}
	}
	&.olimar {
		.characterImageContainer {
			background-color: $olimar;
		}
		.characterImage {
			background-image: url("../images/characters/webp/olimar.webp");
		}
	}
	&.pacman {
		.characterImageContainer {
			background-color: $pacman;
		}
		.characterImage {
			background-image: url("../images/characters/webp/pacman.webp");
		}
	}
	&.palutena {
		.characterImageContainer {
			background-color: $palutena;
		}
		.characterImage {
			background-image: url("../images/characters/webp/palutena.webp");
		}
	}
	&.peach {
		.characterImageContainer {
			background-color: $peach;
		}
		.characterImage {
			background-image: url("../images/characters/webp/peach.webp");
		}
	}
	&.pikachu {
		.characterImageContainer {
			background-color: $pikachu;
		}
		.characterImage {
			background-image: url("../images/characters/webp/pikachu.webp");
		}
	}
	&.pit {
		.characterImageContainer {
			background-color: $pit;
		}
		.characterImage {
			background-image: url("../images/characters/webp/pit.webp");
		}
	}
	&.rob {
		.characterImageContainer {
			background-color: $rob;
		}
		.characterImage {
			background-image: url("../images/characters/webp/rob.webp");
		}
	}
	&.robin {
		.characterImageContainer {
			background-color: $robin;
		}
		.characterImage {
			background-image: url("../images/characters/webp/robin.webp");
		}
	}
	&.rosalina-and-luma {
		.characterImageContainer {
			background-color: $rosalina-and-luma;
		}
		.characterImage {
			background-image: url("../images/characters/webp/rosalina.webp");
		}
	}
	&.roy {
		.characterImageContainer {
			background-color: $roy;
		}
		.characterImage {
			background-image: url("../images/characters/webp/roy.webp");
		}
	}
	&.ryu {
		.characterImageContainer {
			background-color: $ryu;
		}
		.characterImage {
			background-image: url("../images/characters/webp/ryu.webp");
		}
	}
	&.samus {
		.characterImageContainer {
			background-color: $samus;
		}
		.characterImage {
			background-image: url("../images/characters/webp/samus.webp");
		}
	}
	&.sheik {
		.characterImageContainer {
			background-color: $sheik;
		}
		.characterImage {
			background-image: url("../images/characters/webp/sheik.webp");
		}
	}
	&.shulk {
		.characterImageContainer {
			background-color: $shulk;
		}
		.characterImage {
			background-image: url("../images/characters/webp/shulk.webp");
		}
	}
	&.shulk-buster {
		.characterImageContainer {
			background-color: $shulk-buster;
		}
		.characterImage {
			background-image: url("../images/characters/webp/shulkbuster.webp");
		}
	}
	&.shulk-jump {
		.characterImageContainer {
			background-color: $shulk-jump;
		}
		.characterImage {
			background-image: url("../images/characters/webp/shulkjump.webp");
		}
	}
	&.shulk-shield {
		.characterImageContainer {
			background-color: $shulk-shield;
		}
		.characterImage {
			background-image: url("../images/characters/webp/shulkshield.webp");
		}
	}
	&.shulk-smash {
		.characterImageContainer {
			background-color: $shulk-smash;
		}
		.characterImage {
			background-image: url("../images/characters/webp/shulksmash.webp");
		}
	}
	&.sonic {
		.characterImageContainer {
			background-color: $sonic;
		}
		.characterImage {
			background-image: url("../images/characters/webp/sonic.webp");
		}
	}
	&.toon-link {
		.characterImageContainer {
			background-color: $toon-link;
		}
		.characterImage {
			background-image: url("../images/characters/webp/toonlink.webp");
		}
	}
	&.villager {
		.characterImageContainer {
			background-color: $villager;
		}
		.characterImage {
			background-image: url("../images/characters/webp/villager.webp");
		}
	}
	&.wario {
		.characterImageContainer {
			background-color: $wario;
		}
		.characterImage {
			background-image: url("../images/characters/webp/wario.webp");
		}
	}
	&.wii-fit-trainer {
		.characterImageContainer {
			background-color: $wii-fit-trainer;
		}
		.characterImage {
			background-image: url("../images/characters/webp/wiifittrainer.webp");
		}
	}
	&.yoshi {
		.characterImageContainer {
			background-color: $yoshi;
		}
		.characterImage {
			background-image: url("../images/characters/webp/yoshi.webp");
		}
	}
	&.zelda {
		.characterImageContainer {
			background-color: $zelda;
		}
		.characterImage {
			background-image: url("../images/characters/webp/zelda.webp");
		}
	}
	&.zero-suit-samus {
		.characterImageContainer {
			background-color: $zero-suit-samus;
		}
		.characterImage {
			background-image: url("../images/characters/webp/zerosuitsamus.webp");
		}
	}
}
