.character-box.bayonetta .characterImage, #characterModal.bayonetta .characterImage, .card-deck.bayonetta .characterImage {
  background-image: url(../images/characters/png/bayonetta.png); }

.character-box.bowser .characterImage, #characterModal.bowser .characterImage, .card-deck.bowser .characterImage {
  background-image: url(../images/characters/png/bowser.png); }

.character-box.bowser-jr .characterImage, #characterModal.bowser-jr .characterImage, .card-deck.bowser-jr .characterImage {
  background-image: url(../images/characters/png/bowserjr.png); }

.character-box.charizard .characterImage, #characterModal.charizard .characterImage, .card-deck.charizard .characterImage {
  background-image: url(../images/characters/png/charizard.png); }

.character-box.captain-falcon .characterImage, #characterModal.captain-falcon .characterImage, .card-deck.captain-falcon .characterImage {
  background-image: url(../images/characters/png/cfalcon.png); }

.character-box.cloud .characterImage, #characterModal.cloud .characterImage, .card-deck.cloud .characterImage {
  background-image: url(../images/characters/png/cloud.png); }

.character-box.cloud-limit .characterImage, #characterModal.cloud-limit .characterImage, .card-deck.cloud-limit .characterImage {
  background-image: url(../images/characters/png/cloudlimit.png); }

.character-box.corrin .characterImage, #characterModal.corrin .characterImage, .card-deck.corrin .characterImage {
  background-image: url(../images/characters/png/corrin.png); }

.character-box.dark-pit .characterImage, #characterModal.dark-pit .characterImage, .card-deck.dark-pit .characterImage {
  background-image: url(../images/characters/png/darkpit.png); }

.character-box.diddy-kong .characterImage, #characterModal.diddy-kong .characterImage, .card-deck.diddy-kong .characterImage {
  background-image: url(../images/characters/png/diddykong.png); }

.character-box.donkey-kong .characterImage, #characterModal.donkey-kong .characterImage, .card-deck.donkey-kong .characterImage {
  background-image: url(../images/characters/png/donkeykong.png); }

.character-box.dr-mario .characterImage, #characterModal.dr-mario .characterImage, .card-deck.dr-mario .characterImage {
  background-image: url(../images/characters/png/drmario.png); }

.character-box.duck-hunt .characterImage, #characterModal.duck-hunt .characterImage, .card-deck.duck-hunt .characterImage {
  background-image: url(../images/characters/png/duckhunt.png); }

.character-box.falco .characterImage, #characterModal.falco .characterImage, .card-deck.falco .characterImage {
  background-image: url(../images/characters/png/falco.png); }

.character-box.fox .characterImage, #characterModal.fox .characterImage, .card-deck.fox .characterImage {
  background-image: url(../images/characters/png/fox.png); }

.character-box.ganondorf .characterImage, #characterModal.ganondorf .characterImage, .card-deck.ganondorf .characterImage {
  background-image: url(../images/characters/png/ganondorf.png); }

.character-box.game-and-watch .characterImage, #characterModal.game-and-watch .characterImage, .card-deck.game-and-watch .characterImage {
  background-image: url(../images/characters/png/gameandwatch.png); }

.character-box.greninja .characterImage, #characterModal.greninja .characterImage, .card-deck.greninja .characterImage {
  background-image: url(../images/characters/png/greninja.png); }

.character-box.ike .characterImage, #characterModal.ike .characterImage, .card-deck.ike .characterImage {
  background-image: url(../images/characters/png/ike.png); }

.character-box.jigglypuff .characterImage, #characterModal.jigglypuff .characterImage, .card-deck.jigglypuff .characterImage {
  background-image: url(../images/characters/png/jigglypuff.png); }

.character-box.king-dedede .characterImage, #characterModal.king-dedede .characterImage, .card-deck.king-dedede .characterImage {
  background-image: url(../images/characters/png/kingdedede.png); }

.character-box.kirby .characterImage, #characterModal.kirby .characterImage, .card-deck.kirby .characterImage {
  background-image: url(../images/characters/png/kirby.png); }

.character-box.link .characterImage, #characterModal.link .characterImage, .card-deck.link .characterImage {
  background-image: url(../images/characters/png/link.png); }

.character-box.little-mac .characterImage, #characterModal.little-mac .characterImage, .card-deck.little-mac .characterImage {
  background-image: url(../images/characters/png/littlemac.png); }

.character-box.lucario .characterImage, #characterModal.lucario .characterImage, .card-deck.lucario .characterImage {
  background-image: url(../images/characters/png/lucario.png); }

.character-box.lucas .characterImage, #characterModal.lucas .characterImage, .card-deck.lucas .characterImage {
  background-image: url(../images/characters/png/lucas.png); }

.character-box.lucina .characterImage, #characterModal.lucina .characterImage, .card-deck.lucina .characterImage {
  background-image: url(../images/characters/png/lucina.png); }

.character-box.luigi .characterImage, #characterModal.luigi .characterImage, .card-deck.luigi .characterImage {
  background-image: url(../images/characters/png/luigi.png); }

.character-box.mario .characterImage, #characterModal.mario .characterImage, .card-deck.mario .characterImage {
  background-image: url(../images/characters/png/mario.png); }

.character-box.marth .characterImage, #characterModal.marth .characterImage, .card-deck.marth .characterImage {
  background-image: url(../images/characters/png/marth.png); }

.character-box.mega-man .characterImage, #characterModal.mega-man .characterImage, .card-deck.mega-man .characterImage {
  background-image: url(../images/characters/png/megaman.png); }

.character-box.meta-knight .characterImage, #characterModal.meta-knight .characterImage, .card-deck.meta-knight .characterImage {
  background-image: url(../images/characters/png/metaknight.png); }

.character-box.mewtwo .characterImage, #characterModal.mewtwo .characterImage, .card-deck.mewtwo .characterImage {
  background-image: url(../images/characters/png/mewtwo.png); }

.character-box.mii-brawler .characterImage, #characterModal.mii-brawler .characterImage, .card-deck.mii-brawler .characterImage {
  background-image: url(../images/characters/png/miibrawler.png); }

.character-box.mii-swordfighter .characterImage, #characterModal.mii-swordfighter .characterImage, .card-deck.mii-swordfighter .characterImage {
  background-image: url(../images/characters/png/miiswordfighter.png); }

.character-box.mii-gunner .characterImage, #characterModal.mii-gunner .characterImage, .card-deck.mii-gunner .characterImage {
  background-image: url(../images/characters/png/miigunner.png); }

.character-box.ness .characterImage, #characterModal.ness .characterImage, .card-deck.ness .characterImage {
  background-image: url(../images/characters/png/ness.png); }

.character-box.olimar .characterImage, #characterModal.olimar .characterImage, .card-deck.olimar .characterImage {
  background-image: url(../images/characters/png/olimar.png); }

.character-box.pacman .characterImage, #characterModal.pacman .characterImage, .card-deck.pacman .characterImage {
  background-image: url(../images/characters/png/pacman.png); }

.character-box.palutena .characterImage, #characterModal.palutena .characterImage, .card-deck.palutena .characterImage {
  background-image: url(../images/characters/png/palutena.png); }

.character-box.peach .characterImage, #characterModal.peach .characterImage, .card-deck.peach .characterImage {
  background-image: url(../images/characters/png/peach.png); }

.character-box.pikachu .characterImage, #characterModal.pikachu .characterImage, .card-deck.pikachu .characterImage {
  background-image: url(../images/characters/png/pikachu.png); }

.character-box.pit .characterImage, #characterModal.pit .characterImage, .card-deck.pit .characterImage {
  background-image: url(../images/characters/png/pit.png); }

.character-box.rob .characterImage, #characterModal.rob .characterImage, .card-deck.rob .characterImage {
  background-image: url(../images/characters/png/rob.png); }

.character-box.robin .characterImage, #characterModal.robin .characterImage, .card-deck.robin .characterImage {
  background-image: url(../images/characters/png/robin.png); }

.character-box.rosalina-and-luma .characterImage, #characterModal.rosalina-and-luma .characterImage, .card-deck.rosalina-and-luma .characterImage {
  background-image: url(../images/characters/png/rosalina.png); }

.character-box.roy .characterImage, #characterModal.roy .characterImage, .card-deck.roy .characterImage {
  background-image: url(../images/characters/png/roy.png); }

.character-box.ryu .characterImage, #characterModal.ryu .characterImage, .card-deck.ryu .characterImage {
  background-image: url(../images/characters/png/ryu.png); }

.character-box.samus .characterImage, #characterModal.samus .characterImage, .card-deck.samus .characterImage {
  background-image: url(../images/characters/png/samus.png); }

.character-box.sheik .characterImage, #characterModal.sheik .characterImage, .card-deck.sheik .characterImage {
  background-image: url(../images/characters/png/sheik.png); }

.character-box.shulk .characterImage, #characterModal.shulk .characterImage, .card-deck.shulk .characterImage {
  background-image: url(../images/characters/png/shulk.png); }

.character-box.shulk-buster .characterImage, #characterModal.shulk-buster .characterImage, .card-deck.shulk-buster .characterImage {
  background-image: url(../images/characters/png/shulkbuster.png); }

.character-box.shulk-jump .characterImage, #characterModal.shulk-jump .characterImage, .card-deck.shulk-jump .characterImage {
  background-image: url(../images/characters/png/shulkjump.png); }

.character-box.shulk-shield .characterImage, #characterModal.shulk-shield .characterImage, .card-deck.shulk-shield .characterImage {
  background-image: url(../images/characters/png/shulkshield.png); }

.character-box.shulk-smash .characterImage, #characterModal.shulk-smash .characterImage, .card-deck.shulk-smash .characterImage {
  background-image: url(../images/characters/png/shulksmash.png); }

.character-box.shulk-speed .characterImage, #characterModal.shulk-speed .characterImage, .card-deck.shulk-speed .characterImage {
  background-image: url(../images/characters/png/shulkspeed.png); }

.character-box.sonic .characterImage, #characterModal.sonic .characterImage, .card-deck.sonic .characterImage {
  background-image: url(../images/characters/png/sonic.png); }

.character-box.toon-link .characterImage, #characterModal.toon-link .characterImage, .card-deck.toon-link .characterImage {
  background-image: url(../images/characters/png/toonlink.png); }

.character-box.villager .characterImage, #characterModal.villager .characterImage, .card-deck.villager .characterImage {
  background-image: url(../images/characters/png/villager.png); }

.character-box.wario .characterImage, #characterModal.wario .characterImage, .card-deck.wario .characterImage {
  background-image: url(../images/characters/png/wario.png); }

.character-box.wii-fit-trainer .characterImage, #characterModal.wii-fit-trainer .characterImage, .card-deck.wii-fit-trainer .characterImage {
  background-image: url(../images/characters/png/wiifittrainer.png); }

.character-box.yoshi .characterImage, #characterModal.yoshi .characterImage, .card-deck.yoshi .characterImage {
  background-image: url(../images/characters/png/yoshi.png); }

.character-box.zelda .characterImage, #characterModal.zelda .characterImage, .card-deck.zelda .characterImage {
  background-image: url(../images/characters/png/zelda.png); }

.character-box.zero-suit-samus .characterImage, #characterModal.zero-suit-samus .characterImage, .card-deck.zero-suit-samus .characterImage {
  background-image: url(../images/characters/png/zerosuitsamus.png); }

/*# sourceMappingURL=character-icons.css.map */
