@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes slideFromRight {
	0% {
		transform: translateX(var(--amount, 300px));
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.csstrans-fade-enter,
.csstrans-fade-appear {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-fill-mode: both;
	animation-timing-function: ease;
	animation-delay: var(--delay, 0);
}

.csstrans-slideFromRight-enter,
.csstrans-slideFromRight-appear {
	opacity: 1;
	animation-name: slideFromRight;
	animation-duration: var(--duration, 0.6s);
	animation-fill-mode: both;
	animation-timing-function: ease;
	animation-delay: var(--delay, 0);
}

.spinner-fade-exit {
	opacity: 0;
	animation-name: fadeOut;
	animation-duration: 0.6s;
	animation-fill-mode: both;
}

.spinner-fade-enter,
.spinner-fade-appear {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.7s;
	animation-fill-mode: both;
	animation-delay: 0.7s;
}
